flexlayout {
	display: flex;
}

.bigboi {
	margin-top: 30;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.separator {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 13;
}

.ABox {
	align-self: center;
}

.input_label {
	text-align: center;
}

.kkt {
	align-self: center;
}