flexlayout {
	display: flex;
}

#MainContainer, #bigboi {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 10;
}

.ABox {
	align-self: center;
}

.input_label {
	color: Black;
	text-align: center;
}